## Part 1: Preprocessing

In [165]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

import pandas as pd
import numpy as np
import tensorflow
import keras
from keras import Model 
from keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [166]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [167]:
attrition_df.shape

(1470, 27)

In [168]:
# Create y_df with the Attrition and Department columns
y_attrition_df = attrition_df[['Attrition']]
y_department_df = attrition_df[['Department']]

In [169]:
# Create a list of at least 10 column names to use as X data
columns=['Education','Age','DistanceFromHome','JobSatisfaction','OverTime','StockOptionLevel','WorkLifeBalance','YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[columns]

# Show the data types for X_df
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Education                1470 non-null   int64
 1   Age                      1470 non-null   int64
 2   DistanceFromHome         1470 non-null   int64
 3   JobSatisfaction          1470 non-null   int64
 4   OverTime                 1470 non-null   object
 5   StockOptionLevel         1470 non-null   int64
 6   WorkLifeBalance          1470 non-null   int64
 7   YearsAtCompany           1470 non-null   int64
 8   YearsSinceLastPromotion  1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
dtypes: int64(9), object(1)
memory usage: 115.0+ KB

In [170]:
X_df.head()

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
0,2,41,1,4,Yes,0,1,6,0,8
1,1,49,8,2,No,1,3,10,1,1
2,2,37,2,3,Yes,0,3,0,0,6
3,4,33,3,3,Yes,0,3,8,3,1
4,1,27,2,2,No,1,3,2,2,9

In [171]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train,X_test,y_attrition_train,y_attrition_test = train_test_split(X_df,y_attrition_df,random_state=1)
X_train,X_test,y_department_train,y_department_test = train_test_split(X_df,y_department_df,random_state=1)

In [172]:
# Encode the y data with the label encoder
# Create an instance of the label encoder
le_attrition = LabelEncoder()
le_department = LabelEncoder()


# Fit and transform the y training and testing data using the label encoder
y_attrition_train_encoded = le_attrition.fit_transform(y_attrition_train)
y_attrition_test_encoded = le_attrition.transform(y_attrition_test)
y_department_train_encoded = le_department.fit_transform(y_department_train)
y_department_test_encoded = le_department.transform(y_department_test)

/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [173]:
X_train[:20]

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
464,3,37,1,4,No,0,4,6,1,4
512,4,27,3,4,No,0,3,4,1,0
480,4,30,12,1,No,1,4,1,0,1
680,4,36,7,4,No,0,3,6,0,2
1023,2,56,1,1,No,1,4,3,1,2
6,3,59,3,1,Yes,3,2,1,0,4
817,4,36,18,4,No,0,3,11,0,2
1314,4,45,2,3,No,2,4,8,5,4
1048,3,34,3,1,No,0,3,13,3,3
1365,3,29,24,1,No,0,3,1,0,1
303,3,31,7,4,No,1,2,8,7,4
1274,4,31,29,4,No,2,3,12,5,1
216,4,30,26,1,No,0,2,6,0,5
1041,3,28,5,1,No,0,3,5,1,0
350,1,42,2,3,Yes,1,3,3,1,0
1415,2,33,1,3,No,3,2,1,0,1
1389,3,31,1,1,No,0,3,10,8,1
202,4,34,10,3,Yes,1,4,5,2,1
980,3,31,2,4,No,0,4,1,0,7
383,3,22,11,2,No,1,3,2,1,1

In [174]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train['OverTime'] = X_train['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])
X_test['OverTime'] = X_test['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])

/var/folders/md/3xj92cpx385gcyh6m7vzwc080000gn/T/ipykernel_62317/3469071445.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_train['OverTime'] = X_train['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])
/var/folders/md/3xj92cpx385gcyh6m7vzwc080000gn/T/ipykernel_62317/3469071445.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_test['OverTime'] = X_test['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])

In [175]:
# Create a StandardScaler
scaler = StandardScaler().fit(X_train)

# Fit the StandardScaler to the training data
X_train_scaled = scaler.transform(X_train)

# Scale the training and testing data
X_test_scaled = scaler.transform(X_test)

In [176]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
enc = OneHotEncoder(sparse_output=False)
# Fit the encoder to the training data
encode_department_train_df = pd.DataFrame(enc.fit_transform(attrition_df[['Department']]))
# Create two new variables by applying the encoder
# to the training and testing data
encode_department_test_df = pd.DataFrame(enc.fit_transform(attrition_df[['Department']]))

In [177]:
# Create a OneHotEncoder for the Attrition column
enc = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
encode_attrition_train_df = pd.DataFrame(enc.fit_transform(attrition_df[['Attrition']]))


# Create two new variables by applying the encoder
# to the training and testing data
encode_attrition_test_df = pd.DataFrame(enc.fit_transform(attrition_df[['Attrition']]))

## Create, Compile, and Train the Model

In [178]:
# Find the number of columns in the X training data
num_columns = len(X_train.columns)

# Create the input layer
input_layer = layers.Input(shape=(num_columns,), name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)


# Branch for department prediction
department_output = layers.Dense(1, activation='softmax', name='department_output')(shared_layer2)

# Branch for attrition prediction
attrition_output = layers.Dense(1, activation='sigmoid', name='attrition_output')(shared_layer2)

# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Display the model summary
model.summary()

Model: "functional_2"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_4 (Dense)     │ (None, 64)        │        704 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_5 (Dense)     │ (None, 32)        │      2,080 │ dense_4[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 1)         │         33 │ dense_5[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 1)         │         33 │ dense_5[0][0]     │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 2,850 (11.13 KB)

 Trainable params: 2,850 (11.13 KB)

 Non-trainable params: 0 (0.00 B)

In [179]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

In [180]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer

X_test_scaled

array([[ 1.07072222e+00, -5.97353422e-04,  1.05926460e-01, ...,
         5.39767674e-01, -6.63492406e-01, -6.93535736e-01],
       [-9.09035982e-01, -2.08516168e+00, -7.61501047e-01, ...,
        -1.16508752e+00, -6.63492406e-01, -6.93535736e-01],
       [ 8.08431209e-02, -7.68594737e-01,  1.59294504e+00, ...,
        -3.12659922e-01, -6.63492406e-01,  5.05015829e-01],
       ...,
       [-9.09035982e-01, -6.58880825e-01, -1.00933748e+00, ...,
        -4.83145442e-01,  2.74705153e-01, -6.93535736e-01],
       [ 8.08431209e-02, -6.58880825e-01,  7.25517537e-01, ...,
        -8.24116480e-01, -3.80273663e-02, -6.93535736e-01],
       [-9.09035982e-01,  6.57686118e-01, -8.85419263e-01, ...,
        -3.12659922e-01, -3.50759886e-01, -6.93535736e-01]])

In [181]:
# Fit the model
model.fit(
    X_train_scaled,
    {'department_output': y_department_train_encoded, 'attrition_output': y_attrition_train_encoded},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10

/usr/local/anaconda3/lib/python3.12/site-packages/keras/src/ops/nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (None, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(
/usr/local/anaconda3/lib/python3.12/site-packages/keras/src/losses/losses.py:27: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return self.fn(y_true, y_pred, **self._fn_kwargs)

28/28 ━━━━━━━━━━━━━━━━━━━━ 3s 19ms/step - attrition_output_accuracy: 0.8406 - department_output_accuracy: 0.6569 - loss: 0.5384 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4900
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8267 - department_output_accuracy: 0.6476 - loss: 0.4649 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.5098
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8527 - department_output_accuracy: 0.6500 - loss: 0.4255 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.5109
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8296 - department_output_accuracy: 0.6848 - loss: 0.4532 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4925
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8565 - department_output_accuracy: 0.6556 - loss: 0.3808 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4762
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8499 - department_output_accuracy: 0.6197 - loss: 0.3985 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4968
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8509 - department_output_accuracy: 0.6454 - loss: 0.3903 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4973
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8666 - department_output_accuracy: 0.6678 - loss: 0.3636 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.5164
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8739 - department_output_accuracy: 0.6767 - loss: 0.3576 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4959
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8554 - department_output_accuracy: 0.6886 - loss: 0.3588 - val_attrition_output_accuracy: 0.8100 - val_department_output_accuracy: 0.6335 - val_loss: 0.5031

In [182]:
# Create the model


# Compile the model


# Summarize the model

In [183]:
# Train the model

In [184]:
test_results = model.evaluate(X_test_scaled, {'department_output': y_department_test_encoded, 'attrition_output': y_attrition_test_encoded})
test_results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8010 - department_output_accuracy: 0.6296 - loss: 0.4547

[0.4530400335788727, 0.8179348111152649, 0.6413043737411499]

In [185]:
test_results[1]

0.8179348111152649

In [186]:
# Evaluate the model with the testing data

In [187]:
# Print the accuracy for both department and attrition

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.