## Part 1: Preprocessing

In [189]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder

import pandas as pd
import numpy as np
import tensorflow
import keras
from keras import Model 
from keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [190]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [191]:
attrition_df.shape

(1470, 27)

In [192]:
# Create y_df with the Attrition and Department columns
y_attrition_df = attrition_df[['Attrition']]
y_department_df = attrition_df[['Department']]

In [193]:
# Create a list of at least 10 column names to use as X data
columns=['Education','Age','DistanceFromHome','JobSatisfaction','OverTime','StockOptionLevel','WorkLifeBalance','YearsAtCompany','YearsSinceLastPromotion','NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[columns]

# Show the data types for X_df
X_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Education                1470 non-null   int64
 1   Age                      1470 non-null   int64
 2   DistanceFromHome         1470 non-null   int64
 3   JobSatisfaction          1470 non-null   int64
 4   OverTime                 1470 non-null   object
 5   StockOptionLevel         1470 non-null   int64
 6   WorkLifeBalance          1470 non-null   int64
 7   YearsAtCompany           1470 non-null   int64
 8   YearsSinceLastPromotion  1470 non-null   int64
 9   NumCompaniesWorked       1470 non-null   int64
dtypes: int64(9), object(1)
memory usage: 115.0+ KB

In [194]:
X_df.head()

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
0,2,41,1,4,Yes,0,1,6,0,8
1,1,49,8,2,No,1,3,10,1,1
2,2,37,2,3,Yes,0,3,0,0,6
3,4,33,3,3,Yes,0,3,8,3,1
4,1,27,2,2,No,1,3,2,2,9

In [195]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train,X_test,y_attrition_train,y_attrition_test = train_test_split(X_df,y_attrition_df,random_state=1)
X_train,X_test,y_department_train,y_department_test = train_test_split(X_df,y_department_df,random_state=1)

In [196]:
# Encode the y data with the label encoder
# Create an instance of the label encoder
le_attrition = LabelEncoder()
le_department = LabelEncoder()


# Fit and transform the y training and testing data using the label encoder
y_attrition_train_encoded = le_attrition.fit_transform(y_attrition_train)
y_attrition_test_encoded = le_attrition.transform(y_attrition_test)
y_department_train_encoded = le_department.fit_transform(y_department_train)
y_department_test_encoded = le_department.transform(y_department_test)

/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/anaconda3/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [198]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
X_train['OverTime'] = X_train['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])
X_test['OverTime'] = X_test['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])

/var/folders/md/3xj92cpx385gcyh6m7vzwc080000gn/T/ipykernel_62317/3469071445.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_train['OverTime'] = X_train['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])
/var/folders/md/3xj92cpx385gcyh6m7vzwc080000gn/T/ipykernel_62317/3469071445.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X_test['OverTime'] = X_test['OverTime'].replace(to_replace=['No', 'Yes'], value=[0, 1])

In [199]:
# Create a StandardScaler
scaler = StandardScaler().fit(X_train)

# Fit the StandardScaler to the training data
X_train_scaled = scaler.transform(X_train)

# Scale the training and testing data
X_test_scaled = scaler.transform(X_test)

In [200]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
enc = OneHotEncoder(sparse_output=False)
# Fit the encoder to the training data
encode_department_train_df = pd.DataFrame(enc.fit_transform(attrition_df[['Department']]))
# Create two new variables by applying the encoder
# to the training and testing data
encode_department_test_df = pd.DataFrame(enc.fit_transform(attrition_df[['Department']]))

In [201]:
# Create a OneHotEncoder for the Attrition column
enc = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
encode_attrition_train_df = pd.DataFrame(enc.fit_transform(attrition_df[['Attrition']]))


# Create two new variables by applying the encoder
# to the training and testing data
encode_attrition_test_df = pd.DataFrame(enc.fit_transform(attrition_df[['Attrition']]))

## Create, Compile, and Train the Model

In [202]:
# Find the number of columns in the X training data
num_columns = len(X_train.columns)

# Create the input layer
input_layer = layers.Input(shape=(num_columns,), name='input_features')

# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [203]:
# Create a branch for Department
# with a hidden layer and an output layer
# Create the hidden layer
# Create the output layer
# Branch for department prediction
department_output = layers.Dense(1, activation='softmax', name='department_output')(shared_layer2)

In [204]:
# Create a branch for Attrition
# with a hidden layer and an output layer
# Create the hidden layer
# Create the output layer
# Branch for attrition prediction
attrition_output = layers.Dense(1, activation='sigmoid', name='attrition_output')(shared_layer2)

In [205]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})

# Display the model summary
model.summary()

Model: "functional_3"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_features      │ (None, 10)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_6 (Dense)     │ (None, 64)        │        704 │ input_features[0… │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_7 (Dense)     │ (None, 32)        │      2,080 │ dense_6[0][0]     │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 1)         │         33 │ dense_7[0][0]     │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 1)         │         33 │ dense_7[0][0]     │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 2,850 (11.13 KB)

 Trainable params: 2,850 (11.13 KB)

 Non-trainable params: 0 (0.00 B)

In [206]:
# Train/Fit the model
model.fit(
    X_train_scaled,
    {'department_output': y_department_train_encoded, 'attrition_output': y_attrition_train_encoded},
    epochs=10,
    batch_size=32,
    validation_split=0.2
)

Epoch 1/10

/usr/local/anaconda3/lib/python3.12/site-packages/keras/src/ops/nn.py:545: UserWarning: You are using a softmax over axis -1 of a tensor of shape (None, 1). This axis has size 1. The softmax operation will always return the value 1, which is likely not what you intended. Did you mean to use a sigmoid instead?
  warnings.warn(
/usr/local/anaconda3/lib/python3.12/site-packages/keras/src/losses/losses.py:27: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return self.fn(y_true, y_pred, **self._fn_kwargs)

28/28 ━━━━━━━━━━━━━━━━━━━━ 3s 22ms/step - attrition_output_accuracy: 0.7409 - department_output_accuracy: 0.6660 - loss: 0.6037 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4895
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8594 - department_output_accuracy: 0.6482 - loss: 0.4341 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4643
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8422 - department_output_accuracy: 0.6521 - loss: 0.4275 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4838
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8475 - department_output_accuracy: 0.6532 - loss: 0.4130 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4877
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8624 - department_output_accuracy: 0.6676 - loss: 0.3775 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4772
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8412 - department_output_accuracy: 0.6625 - loss: 0.3945 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4658
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8643 - department_output_accuracy: 0.6744 - loss: 0.3629 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 0.4723
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8755 - department_output_accuracy: 0.6793 - loss: 0.3633 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 0.4611
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8616 - department_output_accuracy: 0.6591 - loss: 0.3643 - val_attrition_output_accuracy: 0.8190 - val_department_output_accuracy: 0.6335 - val_loss: 0.4627
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8636 - department_output_accuracy: 0.6567 - loss: 0.3625 - val_attrition_output_accuracy: 0.8371 - val_department_output_accuracy: 0.6335 - val_loss: 0.4790

In [207]:
# Evaluate the model with the testing data
test_results = model.evaluate(X_test_scaled, {'department_output': y_department_test_encoded, 'attrition_output': y_attrition_test_encoded})
test_results

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.7988 - department_output_accuracy: 0.6296 - loss: 0.4629

[0.44908076524734497, 0.8260869383811951, 0.6413043737411499]

In [208]:
# Print the accuracy for both department and attrition
print(f'The accuracy of the department is: {test_results[0]}')
print(f'The accuracy of the attrition is: {test_results[1]}')

The accuracy of the department is: 0.44908076524734497
The accuracy of the attrition is: 0.8260869383811951

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

Accuracy would be the ideal only because it is what we want pursue

2. What activation functions did you choose for your output layers, and why? 

Sigmoid for the attrition because it was a 1 o 0 result function for the attrition prediction
Softmax for the department because it was multiclass function for the department prediction

3. Can you name a few ways that this model might be improved?

1) More Data, artificially we could include this but it would reduce the accuracy
2) More balanced data in the attrition, artificially we could balance this

YOUR ANSWERS HERE

1. 
2. 
3.